.region .MMM-APOD .module-content {
  position: relative;
  height: 100vh;
  display: flex;
  z-index: 0;
  box-sizing: border-box;
  padding: var(--gap-body-top);
}

.region .MMM-APOD .img {
  background: #000 no-repeat center center;
  background-blend-mode: hard-light;
}

.region .MMM-APOD .description {
  margin: auto;
}

/* middle_center */
.region.middle.center .MMM-APOD .img {
  width: 75vh;
  height: 75vh;
  background-size: cover;
}

.region.middle.center .MMM-APOD .module-content {
  align-items: start;
  justify-content: center;
}

/* fullscreen_below */
.region.fullscreen.below .MMM-APOD .module-content {
  align-items: end;
}

.region.fullscreen.below .MMM-APOD .module-content .img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-size: contain;
}
